body {
    font-family: 'Lora', serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #FFFFFF;
    text-align: center;
    overflow: hidden;
    background: linear-gradient(45deg, #3A5BA0, #4F80A1, #708A91, #C1C8C8);
    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;

    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;

    background-size: 400% 400%;
    animation: gradientShift 10s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0 50%; }
}

.mainContainer {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px 40px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    animation: containerBreathing 10s ease-in-out infinite, containerFadeIn 1s forwards 0.5s;
}

@keyframes containerBreathing {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

@keyframes containerFadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    animation: borderFlow 4s linear infinite;
}

@keyframes borderFlow {
    0%, 100% { box-shadow: 0 0 5px rgba(255, 255, 255, 0.3); }
    50% { box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); }
}

h1 { font-size: 2.5rem; animation: slideIn 1s ease-out forwards 1s; }


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #2d2d2d, #000);
    color: #fff;
    padding: 20px 0;
    font-family: 'Lora', serif;
}

.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-social a:hover {
    color: #ccc;
}

.vertical-bar {
    color: #fff;
}

.footer-social a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

.link {
    text-decoration: none;
    font-size: 50px; /* Zwiększony rozmiar tekstu */
    color: #E74C3C; /* Czerwonawy kolor */
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: fadeInLink 1s ease-out forwards 1.5s;
}

.link:hover {
    color: #FF5733; /* Jaśniejszy czerwony przy hoverze */
    transform: scale(1.1);
}

.link-text {
    font-size: 60px; /* Zwiększenie napisu "LinkUp" */
    font-weight: bold;
    color: #E74C3C; /* Czerwonawy kolor */
    opacity: 0;
    animation: fadeInLink 1s ease-out forwards 1.5s;
}

@keyframes fadeInLink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}